/Glimpse.NHibernate/obj
/Glimpse.NHibernate/bin
/Glimpse.NHibernate/Glimpse.NHibernate.csproj.user
/Glimpse.NHibernate.Test/obj
/Glimpse.NHibernate.Test/bin
/Glimpse.NHibernate.Test.NH121/obj
/Glimpse.NHibernate.Test.NH121/bin
/Glimpse.NHibernate.Test.NH201/bin
/Glimpse.NHibernate.Test.NH201/obj
/Glimpse.NHibernate/Glimpse.NHibernate.v11.suo
