/Glimpse.NHibernate/obj
/Glimpse.NHibernate/bin
/Glimpse.NHibernate/Glimpse.NHibernate.csproj.user

/Glimpse.NHibernate.Sample/obj
/Glimpse.NHibernate.Sample/bin
/Glimpse.NHibernate.Sample/Glimpse.NHibernate.Sample.csproj.user

/Glimpse.NHibernate.Test/obj
/Glimpse.NHibernate.Test/bin

/Glimpse.NHibernate.Test.NH1214000/obj
/Glimpse.NHibernate.Test.NH1214000/bin

/Glimpse.NHibernate.Test.NH2014000/bin
/Glimpse.NHibernate.Test.NH2014000/obj

/Glimpse.NHibernate.Test.NH2104000/bin
/Glimpse.NHibernate.Test.NH2104000/obj

/Glimpse.NHibernate.Test.NH2124000/bin
/Glimpse.NHibernate.Test.NH2124000/obj

/Glimpse.NHibernate.Test.NH3004000/bin
/Glimpse.NHibernate.Test.NH3004000/obj

/Glimpse.NHibernate.Test.NH3104000/bin
/Glimpse.NHibernate.Test.NH3104000/obj

/Glimpse.NHibernate.Test.NH3204000/bin
/Glimpse.NHibernate.Test.NH3204000/obj

/Glimpse.NHibernate.Test.NH3304000/bin
/Glimpse.NHibernate.Test.NH3304000/obj

/Glimpse.NHibernate.Test.NH3314000/bin
/Glimpse.NHibernate.Test.NH3314000/obj

/Glimpse.NHibernate.Test.NH3324000/bin
/Glimpse.NHibernate.Test.NH3324000/obj

/Glimpse.NHibernate.Test.NH3334000/bin
/Glimpse.NHibernate.Test.NH3334000/obj

/Glimpse.NHibernate.Test.NH3334001/bin
/Glimpse.NHibernate.Test.NH3334001/obj

/Glimpse.NHibernate.Test.NH3344000/bin
/Glimpse.NHibernate.Test.NH3344000/obj

/Glimpse.NHibernate.Test.NH3404000/bin
/Glimpse.NHibernate.Test.NH3404000/obj

/Glimpse.NHibernate.Test.NH4004000/bin
/Glimpse.NHibernate.Test.NH4004000/obj

/Glimpse.NHibernate.sln.DotSettings.user
/Glimpse.NHibernate.v11.suo
/Glimpse.NHibernate.v12.suo
/Glimpse.NHibernate.ncrunchsolution
/Glimpse.NHibernate.sln.DotSettings
/Glimpse.NHibernate.ncrunchsolution.user
