/Glimpse.NHibernate*/obj
/Glimpse.NHibernate*/bin
/Glimpse.NHibernate*/*.csproj.user
/Glimpse.NHibernate*/*.csproj.DotSettings

/Glimpse.NHibernate.*.user
/Glimpse.NHibernate.*.DotSettings
/Glimpse.NHibernate.*.suo

/.build/scriptcs_packages
/.build/scriptcs_packages.config
/.vs